$blue:    rgb(27, 184, 227) !default;
$colors: (
  "blue": $blue
);

@import "../node_modules/bootstrap/scss/bootstrap";

#MyApp .auth .vw-img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: right;
  object-position: right;
}